.total {
  background-color: var(--info-gray);
}
.abono {
  background-color: var(--info-green);
}
.saldo {
  background-color: var(--info-red);
}

@media (max-width: 500px) {
  .total,
  .saldo {
    margin: 4px 5px 0 0;
  }
  .abono-receipt {
    margin: 4px 0 0 0;
  }
}